
<!-- Footer Container -->
<footer class="footer-container typefooter-4">
    <!-- Footer Top Container -->
    
    <!-- /Footer Top Container -->

    <!-- Footer middle Container -->
    
    <!-- /Footer middle Container -->
    <!-- Footer Bottom Container -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <p>www.inmobiliaria.com ! 2021  . Reservados todos los derechos .</p>
                </div>
                <div class="payment-w col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img th:src="@{/image/catalog/demo/payment/payment.png}" alt="imgpayment">
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Bottom Container -->


    <!--Back To Top-->
    <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
</footer>
<!-- //end Footer Container -->
