<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Detalles de reservaciones </title>
</head>
<body>


<!-- Main Container  -->
<div layout:fragment="content"  class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Detalles de reservacion</a></li>
    </ul>
<div>Heror:404</div>
    
</div>
<!-- //Main Container -->

<th:block layout:fragment="script">
</th:block>
</body>
</html>